
/* Body will be a centered box with 10% of margin */
body {
    font-family: "Montserrat", sans-serif;
    padding: 5vh;
    border: 1px solid #E5E6E7;
    border-radius: 20px;
    box-shadow: 2px 1px 11px 0px #0000003B;
    text-align: center;
    margin: 10% 10% 0% 10%;
}

#smowl-icon {
    height: 2vh;
    margin-right: 4px;
}

#icon {
    width: 20vh;
}

#title {
    margin-top: 1vh;
    font-size: 4vh;
}

#explanation, #reason {
    margin-top: 3vh;
    font-size: 2vh;
}

#accept {
    margin-top: 3vh;
    font-size: 2vh;
    padding: 1vh 2vh 1vh 2vh;
    border-radius: 10px;
    background-color: #0092D1;
    color: white;
    border: 2px solid #0092D1;
    border-radius: 6px;
    box-shadow: 0px 2px 8px 1px #00000045;
    cursor: pointer;
}